# Abaikan folder dependensi Node.js
node_modules

# Abaikan file log npm
npm-debug.log

# Abaikan file konfigurasi lokal dan Docker
.env
Dockerfile
docker-compose.yml

# Abaikan folder Git
.git
.gitignore
